# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C# compile files
# vscode files
*/tests/test/bin/*
*/tests/test/obj/Debug/**
**/.vs/**
/cpp/test/Debug/test.tlog
/cpp/test/Debug
/cpp/test/x64/Debug/test.tlog
/cpp/test/x64/Debug/test_boost.tlog
/cpp/test/x64/Debug
/cpp/test_cpp/x64/Debug
/cs/tests/ConsoleApplication1/Debug
/cs/tests/Debug
/cs/tests/test/obj/Release/netcoreapp2.1
/cpp/test/Leetcode/x64/Debug
