# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C# compile files
# vscode files
cs/bin/*
cs/obj/*
.vscode/*
/cs/tests/obj
/cs/tests/.vs/test/v15
/cs/tests/test/bin/Debug/netcoreapp2.1
/cs/tests/test/obj/Debug/netcoreapp2.1/test.csproj.FileListAbsolute.txt
*.pdb
