# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C# compile files
# vscode files
*/tests/test/bin/*
*/tests/test/obj/Debug/**
**/.vs/**
/cpp/test/Debug/test.tlog
/cpp/test/Debug
/cpp/test/x64/Debug/test.tlog
/cpp/test/x64/Debug/test_boost.tlog
/cpp/test/x64/Debug
/cpp/test_cpp/x64/Debug
/cs/tests/ConsoleApplication1/Debug
/cs/tests/Debug
/cs/tests/test/obj/Release/netcoreapp2.1
/cpp/test/Leetcode/x64/Debug
/cpp/DS/Debug
/cpp/test/Leetcode/Debug/Leetcode.tlog
/cpp/test/Leetcode/Debug
/cpp/thread_pool/Debug
.vs/al/v15/Browse.VC.db
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/al/v15/.suo
cpp/recipes/ALL_BUILD.vcxproj
cpp/recipes/ALL_BUILD.vcxproj.filters
cpp/recipes/CMakeCache.txt
.vs/*
.vs/VSWorkspaceState.json
.vs/al/v15/.suo
.vs/al/v15/Browse.VC.db
cpp/recipes/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/al/v15/.suo
.vs/al/v15/Browse.VC.db
cpp/recipes/ZERO_CHECK.vcxproj
cpp/recipes/ZERO_CHECK.vcxproj.filters
cpp/recipes/cmake_install.cmake
cpp/recipes/recipes.sln
cpp/recipes/recipes.vcxproj
cpp/recipes/recipes.vcxproj.filters
cpp/recipes/CMakeFiles/**/*
cpp/recipes/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
cpp/recipes/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
cpp/recipes/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
cpp/recipes/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
cpp/recipes/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
cpp/recipes/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
cpp/recipes/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
cpp/recipes/recipes/.gitignore
cpp/recipes/recipes/CMakeLists.txt
cpp/recipes/recipes/main.cpp
cpp/recipes/recipes.dir/Debug/recipes.tlog/CL.command.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/CL.read.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/CL.write.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/custombuild.command.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/custombuild.read.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/custombuild.write.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/link.command.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/link.read.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/link.write.1.tlog
cpp/recipes/recipes.dir/Debug/recipes.tlog/recipes.lastbuildstate
=======
/cpp/DS/x64/Debug
/cpp/test/Leetcode/Debug
/cpp/thread_pool/Debug
/cpp/thread_pool/x64/Debug
/**/build/*
cpp/recipes/.vscode/ipch/523bbc7ba44d6b76/MAIN.ipch
cpp/recipes/.vscode/ipch/136b14ea351ab1aa/BYTEBUF_TEST.ipch
cpp/recipes/.vscode/ipch/136b14ea351ab1aa/mmap_address.bin
cpp/recipes/.vscode/ipch/523bbc7ba44d6b76/mmap_address.bin
cpp/recipes/.vscode/ipch/f508ca3f8f539ae3/BYTEBUF.ipch
cpp/recipes/.vscode/ipch/*
cpp/recipes/recipes.files
cpp/recipes/recipes.creator.user
cpp/recipes/recipes.files
cpp/recipes/recipes.creator.user
cpp/recipes/.vscode/settings.json
cpp/recipes/defines.h
cpp/recipes/recepies.pro
cpp/recipes/recipes.config
cpp/recipes/recipes.creator
cpp/recipes/recipes.includes
cpp/recipes/recipes.files

**/ipch/**

**/bin/*
**/obj/*
**/*.tmp

**/*.pyc
**/*.swp

**/.vs/**/*
**/Debug/**/*
**/google/**/*
**/bin/**/*
**/obj/**/*
py/d1
